asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
crispy-bootstrap5==2025.4
Django==5.2
django-crispy-forms==2.4
idna==3.10
mysqlclient==2.2.7
pi==0.1.2
pillow==11.2.1
razorpay==1.4.2
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.5.0
